@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* 🔥 FIX REAL DEL PROBLEMA */
html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  @apply bg-white text-black dark:bg-[#0B0B0B] dark:text-white;
}

/* opcional */
::selection {
  background: #a855f7;
  color: white;
}